<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Graduation Work</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body class="" data-gr-c-s-loaded="true">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Просто магазин</a>
        <img src="{% static 'logo.svg' %}" alt="" width="42" height="42">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            {% with url_name=request.resolver_match.url_name %}
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if url_name == 'index' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>

                    {% with url_name=request.resolver_match.url_name %}
                    {% for category in category_list %}
                        {% if category.name == "Смартфон" %}
                        <li class="nav-item {% if url_name == 'smartphones' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'smartphones' %}"  aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
                        {% else %}
                        <li class="nav-item {% if url_name == 'clothes' %}active{% endif %}">
                         <a class="nav-link" href="{% url 'clothes' %}"  aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endwith %}

                    <li class="nav-item {% if url_name == 'accessories' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'accessories' %}">Аксесcуары</a>
                    </li>
            </ul>
            {% endwith %}
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'cart' %}">Корзина</a>
<!--                Модуль управеления авторизацией-->
                {% if user.is_authenticated %}
                        <p class="btn btn-outline-success my-2 my-sm-0">Привет, {{user.username}}</p>
                        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'logout_view' %}">выйти</a>
                {% else %}
                        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'auth_login' %}">Войти</a>
                        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'signup' %}">Зарегистрироваться</a>
                {% endif%}
        </div>
    </nav>
    <main role="main">
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer class="container">
        <p>© Просто магазин 2018</p>
    </footer>


    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>


</body>
</html>