{% extends "basa/basic.html" %}

{% block content %}

  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ phone.title }}</h2>

        <img src="{{ MEDIA_URL }}{{ phone.images.url }}" width='120' alt="{{ phone.pk }}"/>

        <p>{{ phone.description }}</p>
        <form method="post">
          {% csrf_token %}
<!--          <input type="hidden" name="add_item" value="{{ phone.pk }}"  required="">-->
          <input type="submit" class="btn btn-secondary"  value="Добавить в корзину »" name="Cart">
        </form>
      </div>
    </div>
    <hr>
<!--загрузка фильтра для отображения звезд и сам фильтр-->
    {% load shop_filters %}
    {% for review in reviews %}
      <span> {{ review.score|format_review }}{{ review.author }}</span>
      <p> {{ review.text }} </p>
    {% endfor %}
<!--конец блока с фильтром-->
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>

        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Имя</label>
            {% if user.is_authenticated %}
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                   value="{{ user.username }}" name="name" data-cip-id="name"  disabled='true'>
            {% else %}
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                   placeholder="Представтесь" name="name" data-cip-id="name" required>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" placeholder="Содержание"
                      name="description"></textarea>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark1" value="1" required>
            <label class="form-check-label" for="mark1">
              1
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
            <label class="form-check-label" for="mark2">
              2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
            <label class="form-check-label" for="mark3">
              3
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
            <label class="form-check-label" for="mark4">
              4
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
            <label class="form-check-label" for="mark5">
              5
            </label>
          </div>

          <button type="submit" class="btn btn-primary" name="Rewiev" >Оставить</button>
        </form>
      </div>
    </div>

  </div> <!-- /container -->

{% endblock %}