<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Graduation Work</title>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body class="text-center" data-gr-c-s-loaded="true">

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<!--LoginView-->
 <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        Имя пользователя: <input type="text" name="username" required><br>
        Email: <input type="email" name="email" required><br>
        Пароль: <input type="password" name="password" required><br>
        Пароль еще раз: <input type="password" name="password2" required><br>

        <input type="submit" value="Регистрация">
    </form>
<p>© Просто магазин 2018</p>

<script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>

</body>
</html>